*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
    overflow-x: hidden;
}
#polje{
    background-color: rgba(255, 255, 255, 0.9);
    width: 95%;
    max-width: 450px;
    border: solid transparent;
    border-radius: 5px;
    margin: 12vh auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#naslov{
    padding-bottom: 20px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: #11478d;
    text-decoration: underline;
    
}
#registracija, #prijava, #ustvari_kviz, #vstop{ 
    padding: 30px 0;
    margin-left: 50%;
    transform: translate(-50%);
    width: 70%;
}
.vnos{
    margin-bottom: 15px;
}
input[type=text], input[type=password], textarea{
    outline: none;
    background-color: transparent;
    font-size: 18px;
    padding: 8px 8px 3px 8px;
    width: 100%;
    border: none;
    border-bottom: solid gray 1.5px;     
}
input[type=text]:focus, input[type=password]:focus, textarea:focus{
    border: solid 1px #124fa0ee;
    border-radius: 5px;
    box-shadow: rgba(105, 170, 231, 0.5) 0px 2px 8px 0px;   
}
input[type=checkbox], label{
    cursor: pointer;
}

.pokazi{
    font-size: 15px;
    margin-top: 5px;
}
.napaka{
    font-size: 14px;
    margin: 2px 5px;
    color: red;    
}

#preusmeritev, #gost, #alert{
    margin: 25px 5px 0px 5px;
}
#gost {
    color: darkgreen;
}
#alert {
    color: red;
}
#preusmeritev a{
    color: rgb(0, 0, 170);
}

#preusmeritev a:hover{
    color: blue;
}

#splosna_napaka{
    color: red;
    margin: 15px 5px 10px 5px;
}

#submit{
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
    font-size: 17px;
    width: 100%;
    max-width: 200px;
    padding: 10px;
    cursor: pointer;
    color: white;
    background: #124fa0;
    border: solid 2px transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#submit:hover{
    background: #165ebd;
}
#zapri{
    float: right;
    font-size: 32px;
    margin-right: 12px;
    color: rgb(100, 100, 100);
    text-decoration: none;   
}
#zapri:hover{
    color: #0a274d;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    #polje { 
        margin-top: 20px;
    }
    #registracija, #prijava{
        width: 80%;
    }
}