*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
#polje{
    background-color: rgba(255, 255, 255, 0.9);
    width: 95%;
    max-width: 500px;
    border: solid transparent;
    border-radius: 5px;
    margin: 15vh auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
}
#naslov{
    font-size: 22px;
    color: #11478d;
    margin-bottom: 20px;
    text-align: center;
}
a, #submit{
    cursor: pointer;
    font-size: 17px;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    padding: 10px;
    color: white;
    background: #124fa0;
    border: solid 2px transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
a:hover, #submit:hover{
    background: #165ebd;
}
a{
    float: right;
}
input[type="checkbox"],label{
    cursor: pointer;
}
#skrij{
    font-size: 18px;
    margin-left: 5px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 500px) {
    #polje{
        padding: 20px;
        margin-top: 20px;
    }
    #naslov{
        font-size: 20px;
    }
    #skrij{
        font-size: 17px;
    }
    a, #submit{
        float: none;
        margin-left: 50%;
        margin-bottom: 5px;
        transform: translate(-50%);
    }
}